# COMMON OPENSTACK ENVS TO UNSET
unset OS_USERNAME
unset OS_PASSWORD
unset OS_TENANT
unset OS_TENANT_NAME
unset OS_AUTH_URL
unset OS_REGION_NAME
unset OS_VERSION
unset OS_AUTH_SYSTEM
unset OS_SERVICE_NAME
unset OS_RAX_AUTH
unset OS_NO_CACHE
unset OS_AUTH_STRATEGY

# COMMON TURBOLIFT ENVS TO UNSET
unset TURBO_ERROR_RETRY
unset TURBO_CONCURRENCY
unset TURBO_QUIET
unset TURBO_VERBOSE
unset TURBO_DEBUG
unset TURBO_INTERNAL

# COMMON TURBOLIFT ENVS, THESE ARE THE BASIC REQUIREMENTS
# =======================================================
export OS_USERNAME=YOU_USERNAME
export OS_API_KEY=SOME_RANDOM_SET_OF_THINGS
export OS_RAX_AUTH=THE_NAME_OF_THE_TARGET_REGION


# NOT REQUIRED FOR AUTH
#export OS_PASSWORD=USED_FOR_PASSWORD_AUTH
#export OS_TENANT=OPENSTACK_TENANT_NAME 
#export OS_TOKEN=USED_FOR_TOKEN_AUTH
#export OS_REGION_NAME=REGION_NAME
#export OS_AUTH_URL=AUTH_URL_SET_IF_NEEDED

# NOT REQUIRED OPTIONS
#export TURBO_ERROR_RETRY=INT
#export TURBO_CONCURRENCY=INT
#export TURBO_QUIET=True|False
#export TURBO_VERBOSE=True|False
#export TURBO_DEBUG=True|False
#export TURBO_INTERNAL=True|False